.dy-content-block {
  background-image: url("/background-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #6b513c;
  padding: 50px;
  display: flex;
  min-height: 100vh;
  height: fit-content;
  gap: 100px;
  align-items: center;
  justify-content: center;

  .header-1 {
    text-align: left !important;
  }

  &__col {
    height: 100%;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }

    .header-1 {
      font-size: 62px;
      text-align: center;
    }
  }
  .col-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 55%;
    order: 2;
    height: fit-content;
  }
  .col-2 {
    width: 45%;
    order: 1;
    img {
      border-top-right-radius: 250px;
      border-top-left-radius: 250px;
    }
  }

  .content {
    font-size: 32px;
  }

  @media only screen and (max-width: 1023px) {
    & {
      background-image: url("/thankyou-end-mobile-bg.png");
      padding: 30px;
      height: fit-content;
      flex-direction: column;
      gap: 50px;

      &__col {
        width: 100%;
      }
      .col-1 {
        gap: 30px;
        width: 100%;
      }
      .col-2 {
        width: 100%;
        img {
          border-top-right-radius: 45%;
          border-top-left-radius: 45%;
        }
      }
      .header-1 {
        font-size: 24px;
        font-weight: 500;
      }
    }
  }
  @media only screen and (max-width: 1023px) {
    .content {
      font-size: 18px;
    }
    .col-1 {
      padding-bottom: 250px;
    }
    .col-2 {
      aspect-ratio: 3/4;
      height: auto;
    }
  }
}
