.dy-groom-bride-info {
  background-image: url("/background-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #6b513c;
  display: flex;
  gap: 80px;
  padding: 50px;
  height: 100vh;
  justify-content: center;
  
  &__img-container {
    width: 40%;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      object-position: 50%;
    }
  }
  &__text-container {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 80px;

    .header {
      text-align: center;
      span {
        display: inline-block;
      }
    }

    .description {
      font-size: 32px;
    }
  }

  @media only screen and (max-width: 1023px) {
    & {
      flex-direction: column;
      gap: 30px;
      padding: 30px;
      justify-content: center;
      height: auto;
      min-height: 100vh;

      &__img-container {
        width: 100%;
        aspect-ratio: 3/4;
      }

      &__text-container {
        width: 100%;
        gap: 30px;
        height: fit-content;
        justify-content: flex-start;

        .description {
          font-size: 18px;
        }
      }
    }
  }
}
