.dy-image-gallery {
  background-image: url("/background-img.png");
  background-repeat: no-repeat;
  background-size: cover;

  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: 100vh;

  .image-gallery-content.image-gallery-thumbnails-bottom {
    display: none;
  }

  .image-gallery-content.image-gallery-thumbnails-bottom.fullscreen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
  }

  &__header {
    text-align: center;
  }

  &__images {
    display: flex;
    gap: 20px;
    width: 100%;

    .col-1,
    .col-3 {
      position: relative;
      width: calc(100% / 3);
      height: calc(100vh - 160px - 88px - 44px);

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }
    }

    .col-2 {
      width: calc(100% / 3);
      display: flex;
      flex-direction: column;
      gap: 20px;

      &__img {
        position: relative;
        width: 100%;
        height: 50%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          display: block;
        }
      }
    }
  }
  .dy-button {
    border: 1px solid #6b513c;
  }

  @media only screen and (max-width: 767px) {
    & {
      padding: 30px;
      height: 100%;

      &__images {
        flex-direction: column;
        
        .col-1,
        .col-2,
        .col-3 {
          width: 100%;
        }
        .col-2 {
          height: calc(100vh - 160px - 88px - 44px);
        }
      }
    }
  }
}

.image-gallery-thumbnails-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
}
.image-gallery-thumbnail {
  height: auto;
  
  .image-gallery-thumbnail-inner {
    height: 100%;
    img {
      height: 100%;
      object-fit: cover;
    }
  }
}