.dy-video-player {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/background-img.webp");
  height: 100vh;
  width: 100%;
  padding: 50px;
  display: flex;
  gap: 100px;
  color: #6b513c;

  &__content {
    width: 50%;

    .sub-header {
      font-size: 32px;
      font-weight: 600;
      margin-top: 200px;
    }

    p {
      margin-top: 10px;
      font-size: 20px;
    }
  }

  &__video {
    height: 100%;
    width: 50%;
    padding-left: 50px;
    padding-right: 50px;
    position: relative;

    video {
      border-radius: 10px;
    }
    .dy-button {
      position: absolute;
      height: 40px;
      width: 40px;
      padding: unset;
      border-radius: 50%;

      svg {
        height: 20px;
        width: 20px;
      }
      top: calc(50% - 15px);
      left: calc(50% - 15px);
    }
  }

  @media only screen and (max-width: 1023px) {
    & {
      flex-direction: column;
      gap: 30px;
      height: fit-content;
      padding: 30px;

      &__content {
        width: 100%;
        .sub-header {
          font-weight: 700;
          font-size: 20px;
          margin-top: unset;
        }

        p {
          font-size: 18px;
        }
      }
      &__video {
        aspect-ratio: 9/16;
        width: 100%;
        padding: unset;
      }
    }
  }
  .tool-tip {
    background-color: #fff;
    display: flex;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    color: #6b513c;
    position: absolute;
    bottom: 53.5%;
    left: 16.5%;
    z-index: 10;
    width: 250px;

    button {
      background-color: unset;
      color: #6b513c;
      border: unset;
      height: fit-content;
      cursor: pointer;
      padding: 10px;
      padding-right: 10px;
    }

    &:before {
      content: "";
      position: absolute;
      right: 110px;
      bottom: -8px;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid #fff;
    }
  }
}
